<div class="container">
  <h1>
    Welcome to
    <strong>Bookers</strong>
    !
  </h1>
  <p>
    In
    <strong>Bookers</strong>
    ,
  </p>
  <p>you can share and exchange your opinions, and emotions</p>
  <p>about various books!</p>
</div>
<div class="btn-wrapper">
  <p class="btn">
    <%= link_to "Log in", user_session_path %>
  </p>
  <p class="btn">
    <%= link_to "Sign up", new_user_registration_path %>
  </p>
</div>